<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>お悩み相談</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_answer_conf">
	{{ include('./inc/header.html') }}
	<section class="sec sec_answer_conf">	
			<h2 class="sec_ttl">入力内容の確認</h2>
			<div class="sec_inner">
				<div class="input_form">
					<dl class="input_nickname">
						<dt>ニックネーム</dt>
						<dd>
							<p>{{ data.nickname }}さん</p>
						</dd>
					</dl>
					<script>
						var img_select_array = [];
					</script>	
					{% if data.userfile != '' %}
					<dl>
						<dt>画像</dt>
						<dd>
							<p><img src="/uploads/temp/{{ data.userfile }}"></p>
						</dd>
					</dl>
					{% endif %}
					<form method="post" action="" id="answer" class="answer_conf_form validate">
					{{ form_hidden|raw }}
					<dl>
						<dt>回答内容</dt>
						<dd>
							<p>{{ data.message_next|raw }}</p>
						</dd>
					</dl>
					</form>
					<ul class="btn_wrap">
						<li>
							<a href="#" id="back" class="btn_style btn_gray-o">戻る</a>
						</li>
						<li>
							<button type="submit" id="goto" class="btn_style btn_green">回答する</button>
						</li>
					</ul>
				</div>
			</div>
	</section>
	{{ include('./inc/footer.html') }}
</div>
<script>
$(function() {
	var click = true;
	$('#back').click(function() {
        $('#answer').attr('action', '{{base_url}}bb/answer');
        $('#answer').submit();
    });
    $('#goto').click(function(e) {
        $('#answer').attr('action', '{{base_url}}bb/answer_completion');
        if (click) {
        	$('#answer').submit();
        	click = false;
        };
      	e.preventDefault();
    });
});
</script>
{{ include('./inc/script.html') }}
</body>
</html>
