<div class="comment_reply">
	<div class="consult_user_date">
		<p class="user_name">投稿者：{{ replay_nick_name }}さん</p>
		<p class="post_date">ちょうど今</p>
	</div>
	<div class="sec_inner">
		<div class="comment">
			<p>{{ consult_message|raw|nl2br }}</p>
		</div>
		<div class="content_bottom cf">
			<ul class="btn_wrap">
				<li><a href="#" class="btn_style btn_orange-o btn_update_eval" data-mess-id="{{message_id}}" data-user-id="{{user_id}}">私もそう思う<span class="ic ic_heart">0</span></a></li>
			</ul>
		</div>
	</div>
</div>