<div class="breadcrumb_list_wrap">
	<div class="breadcrumb_list">
	{% for entry in breadcrumb_list %}
		{% if entry.url == '' %}
		<a href="">{{ entry.text }}</a>
		{% else%}
		<a href="{{ entry.url }}">{{ entry.text }}</a>
		{% endif %}
	{% endfor %}
	</div>
</div>
