<!doctype html>
<html>
<head>
{% block head %}
<meta charset="utf-8">
<title>{% block title %}タイトル未設定{% endblock %}</title>
<link rel="shortcut icon" href="{{ base_url }}pc/image/icon/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/reset.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/html5reset.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/adjust.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/common.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/tooltipster.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/site.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/category.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/configuration.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/component.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/header.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/style.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/validationEngine.jquery.css">
<link rel="stylesheet" type="text/css" href="{{ base_url }}pc/css/font-awesome.min.css">
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ base_url }}pc/js/jquery.form.js" type="text/javascript"></script>
<script src="{{ base_url }}pc/js/jquery.leanModal.min.js" type="text/javascript"></script>
<script src="{{ base_url }}pc/js/jquery.ba-hashchange.min.js" type="text/javascript"></script>
<script src="{{ base_url }}pc/js/jquery.tooltipster.js" type="text/javascript"></script>
<script src="{{ base_url }}pc/js/jquery.tooltipster.min.js" type="text/javascript"></script>
<script src="{{ base_url }}pc/js/jquery.validationEngine-ja.js" type="text/javascript"></script>
<script src="{{ base_url }}pc/js/jquery.validationEngine.js" type="text/javascript"></script>
<script src="{{ base_url }}pc/js/autoConfirm.js" type="text/javascript"></script>
<style>
{% block style %}{% endblock %}
</style>
{% endblock %}
</head>
<body>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-73000928-1', 'auto');
ga('send', 'pageview');
</script>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>