<header class="user_head">
	<div class="header_inner clearfix">
		<h1><a href="{{ base_url }}"><img class="logo_image" src="{{ base_url }}pc/image/logo.png" alt=""></a></h1>
		<nav class="header_nav">
			<div class="nav_menu">
				<ul id="nav_1">
					<li><a class="logout" href="{{ base_url }}user/logout">ログアウト</a></li>
				</ul>
				<ul id="nav_2">
					<li><a href="{{ base_url }}user/my_page/"><i class="fa fa-user"></i></i>マイページ</a></li>
					<li><a href="{{ base_url }}bb/posting/"><i class="fa fa-comments"></i>新しく相談する</a></li>
					<li><a href="{{ base_url }}site_faq/"><i class="fa fa-question"></i>よくある質問</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>