<link rel="stylesheet" href="{{ base_url }}pc/css/reset.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/html5reset.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/adjust.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/common.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/component.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/style.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/hs.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/category_icons.css">
<link rel="stylesheet" href="{{ base_url }}pc/css/font-awesome.min.css">
<script src="{{ base_url }}pc/js/jquery-1.11.0.js"></script>
<script src="{{ base_url }}pc/js/jquery.cookie.js"></script>
<script src="{{ base_url }}pc/js/hs.js"></script>