<aside class="sidebar">



	<section class="sec sec_new_consultation_list m_b_30">
		<h3 class="sec_ttl">人気の相談一覧</h3>
		<ul>
            {% for key, entry in consultation_list_all_ar %}
			<li>
				<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}" class="ic ic_angle-right">
					<span class="sec_list_inner">
						<p class="posted_data"><span>{{ entry.create_date|date("Y/m/d H:i") }}</span></p>
						<p class="posted_ttl">{{ entry.title }}</p>
					</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>

   	{% if category_info_ar %}
	<section class="sec sec_category_link m_b_30">
		<ul>
            {% for key, entry in category_info_ar %}
			<li> <a class="category_detail_list {{ entry.current }}" href="{{ base_url }}cate{{ big_category_info.id }}/{{ entry.id }}">{{ entry.name }}</a> </li>
			{% endfor %}
<!--
			<li> <a class="category_detail_list " href="./">脅迫･強要</a> </li>
			<li> <a class="category_detail_list " href="./">本番強要</a> </li>
			<li> <a class="category_detail_list " href="./">売春行為</a> </li>
			<li> <a class="category_detail_list " href="./">盗聴･盗撮</a> </li>
			<li> <a class="category_detail_list " href="./">お客さんから借金</a> </li>
			<li> <a class="category_detail_list " href="./">嫌がらせ</a> </li>
			<li> <a class="category_detail_list " href="./">雇用問題</a> </li>
			<li> <a class="category_detail_list " href="./">給料未払い</a> </li>
			<li> <a class="category_detail_list " href="./">恋愛</a> </li>
			<li> <a class="category_detail_list " href="./">いじめ</a> </li>
			<li> <a class="category_detail_list " href="./">確定申告</a> </li>
			<li> <a class="category_detail_list " href="./">マイナンバー制度</a> </li>
			<li> <a class="category_detail_list " href="./">その他</a> </li>
-->
		</ul>
	</section>
   	{% endif %}

	<section class="sec sec_side_banner">
		<ul>
			<li>
				<a href="{{ main_url }}" alt="風俗求人高収入アルバイト">
				  <img src="{{ base_url }}pc/image/banner/sample_2.gif" alt="">
				</a>
			</li>
		</ul>
	</section>

</aside>
