.icon:before, .icon150:before {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	font-family: FontAwesome;
	margin: 0 5px 0 0;

	content:"";
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.icon:before{
	width:20px;
	height:20px;
}
.icon150:before{
	width:66px;
	height:66px;
	margin-bottom:8px;
}
/* icon 40x40 */
.icon.ic_sex:before{
	background:url(../image/icon/icon_category.png) 0 84.6%;
	background-size: 100%;
}
.icon.ic_body:before{
	background:url(../image/icon/icon_category.png) 0 7.7%;
	background-size: 100%;
}
.icon.ic_calendar:before{
	background:url(../image/icon/icon_category.png) 0 30.75%;
	background-size: 100%;
}
.icon.ic_hands:before{
	background:url(../image/icon/icon_category.png) 0 61.55%;
	background-size: 100%;
}
.icon.ic_bust-up:before{
	background:url(../image/icon/icon_category.png) 0 23.1%;
	background-size: 100%;
}
.icon.ic_baby:before{
	background:url(../image/icon/icon_category.png) 0 0;
	background-size: 100%;
}
.icon.ic_woman:before{
	background:url(../image/icon/icon_category.png) 0 100%;
	background-size: 100%;
}
.icon.ic_goods:before{
	background:url(../image/icon/icon_category.png) 0 54%;
	background-size: 100%;
}
.icon.ic_man:before{
	background:url(../image/icon/icon_category.png) 0 69.1%;
	background-size: 100%;
}
.icon.ic_condom:before{
	background:url(../image/icon/icon_category.png) 0 46.15%;
	background-size: 100%;
}
.icon.ic_singlemother:before{
	background:url(../image/icon/icon_category.png) 0 92.25%;
	background-size: 100%;
}
.icon.ic_question:before{
	background:url(../image/icon/icon_category.png) 0 76.8%;
	background-size: 100%;
}
.icon.ic_bondage:before{
	background:url(../image/icon/icon_category.png) 0 15.36%;
	background-size: 100%;
}
.icon.ic_chat-lady:before{
	background:url(../image/icon/icon_category.png) 0 38.45%;
	background-size: 100%;
}
/* icon 150x150*/
.icon150.ic_sex:before{
	background:url(../image/icon/icon_category.png) 0 84.6%;
	background-size: 100%;
}
.icon150.ic_body:before{
	background:url(../image/icon/icon_category.png) 0 7.7%;
	background-size: 100%;
}
.icon150.ic_calendar:before{
	background:url(../image/icon/icon_category.png) 0 30.75%;
	background-size: 100%;
}
.icon150.ic_hands:before{
	background:url(../image/icon/icon_category.png) 0 61.55%;
	background-size: 100%;
}
.icon150.ic_bust-up:before{
	background:url(../image/icon/icon_category.png) 0 23.1%;
	background-size: 100%;
}
.icon150.ic_baby:before{
	background:url(../image/icon/icon_category.png) 0 0;
	background-size: 100%;
}
.icon150.ic_woman:before{
	background:url(../image/icon/icon_category.png) 0 100%;
	background-size: 100%;
}
.icon150.ic_goods:before{
	background:url(../image/icon/icon_category.png) 0 54%;
	background-size: 100%;
}
.icon150.ic_man:before{
	background:url(../image/icon/icon_category.png) 0 69.1%;
	background-size: 100%;
}
.icon150.ic_condom:before{
	background:url(../image/icon/icon_category.png) 0 46.15%;
	background-size: 100%;
}
.icon150.ic_singlemother:before{
	background:url(../image/icon/icon_category.png) 0 92.25%;
	background-size: 100%;
}
.icon150.ic_question:before{
	background:url(../image/icon/icon_category.png) 0 76.8%;
	background-size: 100%;
}
.icon150.ic_bondage:before{
	background:url(../image/icon/icon_category.png) 0 15.36%;
	background-size: 100%;
}
.icon150.ic_chat-lady:before{
	background:url(../image/icon/icon_category.png) 0 38.45%;
	background-size: 100%;
}

/**/

/*.page_wrap.page_index .sec_category .category_box .sec_box_ttl.icon:before{
	width:40px;
	height:40px;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top .sec_box_category.icon:before {
	width: 16px;
	height: 16px;
}*/