<section class="sec sec_support">
	<h2 class="sec_ttl">サポート</h2>
	<ul class="support_menu">
		<li><a href="{{ base_url }}tos">利用規約</a></li>
		<li><a href="{{ base_url }}company">会社概要</a></li>
		<li><a href="{{ base_url }}privacy">個人情報の取扱い</a></li>
		<li><a href="{{ base_url }}guideline">禁止事項</a></li>
		<li><a href="{{ base_url }}faq"> よくある質問</a></li>
		<li><a href="{{ base_url }}contact">お問い合わせ</a></li>
	</ul>
</section>

<footer>
	<small>&copy;お悩み相談</small>
</footer>