<header class="header">
	<div class="left_box">
		<h1><a href="{{ base_url }}"><img src="{{ base_url }}sp/image/common/logo.png" alt="ロゴ"></a></h1>
	</div>
	<div class="right_box">
		<nav class="user_menu">
			<form id="form_signup" method="post" action="{{ main_url }}user/signup" name="form_signup">
			<input type="hidden" name="onayamisignup" value="onayami">
			</form>
			<form id="form_login" method="post" action="{{ main_url }}user/login" name="form_login">
			<input type="hidden" name="onayamilogin" value="onayami">
			</form>
			<ul>
				{% if user_login_flag %}
				<li><a class="logout" href="{{ base_url }}user/logout">
					<p class="fa fa-sign-out"></p>
					<p><span>ログアウト</span></p></a></li>
				{% else %}
				<li><a id="onayami_signup" href="javascript:void(0);">
					<p class="fa fa-pencil-square-o"></p>
					<p><span>新規登録</span></p></a>
				</li>
				<li><a id="onayami_login" href="javascript:void(0);">
					<p class="fa fa-lock"></p>
					<p><span>ログイン</span></p></a>
				</li>
				{% endif %}
				<li>
					<a href="#sidr" id="simple-menu">
						<p class="fa fa-bars"></p>
						<p><span>メニュー</span></p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<ul class="breadcrumb">
	{% for entry in breadcrumb_list %}
		{% if entry.url == '' %}
		<li><a href="">{{ entry.text }}</a></li>
		{% else %}
		<li><a href="{{ entry.url }}">{{ entry.text }}</a></li>
		{% endif %}
	{% endfor %}
</ul>
<div id="sidr" style="display:none;">
	<ul>
		<li><a href="{{ base_url }}">トップ</a></li>

		{% if user_login_flag %}
		<li><a href="{{ base_url }}user/my_page">マイページ</a></li>
		{% endif %}
		<li><a href="{{ base_url }}bb/posting">悩みを投稿する</a></li>
		{% if user_can_point %}
		<li><a href="{{ main_url }}user/bonus/bonus_list/">ボーナス確認</a></li>
		<li><a href="{{ main_url }}user/misc/more_point1/">多くのボーナスを獲得するには</a></li>
		{% endif %}
		<li><a href="{{ main_url }}user/settings/user/settings/">設定</a></li>
		<li><a href="{{ base_url }}/contact">FAQ/お問合せ</a></li>
		<li><a href="{{ main_url }}">高収入求人トップへ</a></li>
	</ul>
</div>
<script type="text/javascript">
$(function() {
	$('#onayami_signup').on('click', function(){
		$('#form_signup').submit();
	});
	$('#onayami_login').on('click', function(){
		$('#form_login').submit();
	});
});
</script>