<script src="{{ base_url }}sp/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{ base_url }}sp/js/jquery.sidr.min.js"></script>
<script src="{{ base_url }}sp/js/common.js" type="text/javascript"></script>
<script src="{{ base_url }}sp/js/home.js" type="text/javascript"></script>
<script src="{{ base_url }}sp/js/pagination.js" type="text/javascript"></script>
