<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
<title>女子の性のお悩み相談室|ジョイスペ</title>
<meta name="description" content="セックス、恋愛、からだ、ひとりエッチなど「女子だけ」でお悩みを相談することができます。">
<link rel="stylesheet" href="{{ base_url }}sp/css/reset.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/html5reset.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/common.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/category_icons.css">
<link rel="stylesheet" href="{{ base_url }}sp/css/style.css">
<script src="{{ base_url }}sp/js/jquery-1.11.0.js"></script>
</head>
<body>
<div class="page_wrap page_index">
	{{ include('./inc/header.html') }}
	<section class="sec sec_search">
		<div class="sec_inner">
				<h2 class="sec_ttl fa fa-search">キーワードから探す</h2>
				<p id="search_error"></p>
				<table class="sec_search_table">
					<tr>
						<td><label for="">
								<input type="text" name="input_keyword" placeholder="生理中のオナニー 潮ふき方法">
							</label></td>
						<td><ul class="btn_wrap">
								<li>
									<button class="btn_style btn_blue" id="btn_keyword">検索</button>
								</li>
							</ul>
							</td>
					</tr>
				</table>
				{% if topViewed_ar|length > 0 %}
				<ul class="search_tag">
					<li style="display: inline-block;"><p>注目の相談：</p></li>
					{% for key, entry in topViewed_ar %}
					<li><a href="{{base_url}}cate{{entry.big_cate_id}}/{{entry.cate_id}}" class="t_link">{{entry.name}}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
		</div>
	</section>
	<section class="sec sec_category">
		<h2 class="sec_ttl">カテゴリーから探す</h2>
		{{ include('./index_category.html') }}
		<ul class="btn_wrap">
			<li><a href="{{ base_url }}bb/posting/" class="btn_style btn_green">新しく相談する</a></li>
		</ul>
	</section>
	<section class="sec sec_banner">
		<div class="sec_inner">
			<ul>
				<li>
					<a href="{{ main_url }}" alt="風俗求人高収入アルバイト">
					  <img src="{{ base_url }}pc/image/banner/sample_2.gif" alt="">
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec sec_consultation_list">
		<h2 class="sec_ttl ic ic_comments">お悩み相談一覧</h2>
		<ul class="sec_consultation_tabs tab_menu" id="tab_menu">
			<li class="tab_new_arrivals current">新着順</li>
			<li class="tab_popularity">人気順</li>
			<li class="tab_unanswered">未回答</li>
		</ul>
		<div class="sec_inner">
			<form id="answer" name="answer" method="post" action="{{ base_url }}bb/answer">
				<input type="hidden" name="answer_id" id="answer_id" ></input>
				<input type="hidden" name="bid" id="bid" ></input>
				<input type="hidden" name="subid" id="subid" ></input>
			</form>	
			<ul class="consultation_list_wrap tab_content content_new_arrivals content_1">
	            {% for key, entry in consultation_list_ar %}
					<li class="consultation_list"> 
						<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
							<div class="sec_box_top">
								<p class="sec_box_category icon {{entry.class}}">{{ entry.big_category_name }}</p>
								<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
							</div>
							<h3 class="sec_box_ttl">{{ entry.title }}</h3>
							{% if entry.message|striptags|trim|length > 41 %}
								<p class="sec_box_content">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
							{% else %}
								<p class="sec_box_content">{{ entry.message|striptags|trim }}</p>
							{% endif %}
						</a>
						<ul class="btn_wrap t_center">
							<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">この相談に回答する</a></li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
							<ul class="posted_ability">
								<li>
									{% if entry.like_count > 0 %}
									<p class="fa fa-heart">{{ entry.like_count }}</p>
									{% else%}
									<p class="fa fa-heart-o">{{ entry.like_count }}</p>
									{% endif %}
								</li>
								<li>
									{% if entry.comment_count > 0 %}
									<p class="fa fa-comment">{{ entry.comment_count }}</p>
									{% else %}
									<p class="fa fa-comment-o">{{ entry.comment_count }}</p>
									{% endif %}
								</li>
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>

			<ul class="consultation_list_wrap tab_content content_popularity content_2">
	            {% for key, entry in consultation_list_popularity_ar %}
					<li class="consultation_list"> 
						<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
							<div class="sec_box_top">
								<p class="sec_box_category icon {{entry.class}}">{{ entry.big_category_name }}</p>
								<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
							</div>
							<h3 class="sec_box_ttl">{{ entry.title }}</h3>
							{% if entry.message|striptags|trim|length > 41 %}
								<p class="sec_box_content">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
							{% else %}
								<p class="sec_box_content">{{ entry.message|striptags|trim }}</p>
							{% endif %}
						</a>
						<ul class="btn_wrap t_center">
							<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">この相談に回答する</a></li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
							<ul class="posted_ability">
								<li>
									{% if entry.like_count > 0 %}
									<p class="fa fa-heart">{{ entry.like_count }}</p>
									{% else%}
									<p class="fa fa-heart-o">{{ entry.like_count }}</p>
									{% endif %}
								</li>
								<li>
									{% if entry.comment_count > 0 %}
									<p class="fa fa-comment">{{ entry.comment_count }}</p>
									{% else %}
									<p class="fa fa-comment-o">{{ entry.comment_count }}</p>
									{% endif %}
								</li>
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>

			<ul class="consultation_list_wrap tab_content content_unanswered content_3">
	            {% for key, entry in consultation_list_unanswered %}
					<li class="consultation_list"> 
						<a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}/{{ entry.id }}">
							<div class="sec_box_top">
								<p class="sec_box_category icon {{entry.class}}">{{ entry.big_category_name }}</p>
								<p class="sec_box_category_detail"><span>{{ entry.category_name }}</span></p>
							</div>
							<h3 class="sec_box_ttl">{{ entry.title }}</h3>
							{% if entry.message|striptags|trim|length > 41 %}
								<p class="sec_box_content">{{ entry.message|striptags|trim|slice(0, 41) }}...</p>
							{% else %}
								<p class="sec_box_content">{{ entry.message|striptags|trim }}</p>
							{% endif %}
						</a>
						<ul class="btn_wrap t_center">
							<li><a onclick="set_answer({{entry.big_cate_id}}, {{entry.cate_id}}, {{entry.id}});" class="btn_style btn_green">この相談に回答する</a></li>
						</ul>
						<div class="sec_box_bottom">
							<p class="posted_data">{{ entry.create_date|date("Y.m.d") }}</p>
							<ul class="posted_ability">
								<li>
									{% if entry.like_count > 0 %}
									<p class="fa fa-heart">{{ entry.like_count }}</p>
									{% else%}
									<p class="fa fa-heart-o">{{ entry.like_count }}</p>
									{% endif %}
								</li>
								<li>
									{% if entry.comment_count > 0 %}
									<p class="fa fa-comment">{{ entry.comment_count }}</p>
									{% else %}
									<p class="fa fa-comment-o">{{ entry.comment_count }}</p>
									{% endif %}
								</li>
							</ul>
						</div>
					</li>
				{% endfor %}
			</ul>
 
		</div>
	</section>

	{{ include('./inc/footer.html') }}
</div>
<script src="{{ base_url }}sp/js/jquery.sidr.min.js"></script>
<script src="{{ base_url }}sp/js/home.js" type="text/javascript"></script>

<script>


	$("input[name='input_keyword']").keypress(function(e) {
	    if(e.which == 13) {
	        searchKeyword()
	    }
	});
	
	$("#btn_keyword").on('click', function(){
		searchKeyword()
	});

	function searchKeyword() {
		var val = $("input[name='input_keyword']").val();
		$("input[name='input_keyword']").val(val.trim());
		if (val.trim() != '') {
			val = val.trim();
			post_cont = $(".search_tag");
			current_count = post_cont.children().length;
			url = "{{ base_url}}search/ajaxSearchKeywordConsultation";
			params = { keyword: val.trim() };
			$.ajax({
				type: "POST",
				url: url,
				data: params,
				dataType: 'TEXT',
				cache: false,
				success: function(data){
					if(data != "") {
						$('#search_error').text('').hide();
						window.location.href = "{{base_url}}search/?input_keyword="+val;
					} else {
						var search_error = $('#search_error');
						search_error.css('color', '#F00');
						search_error.css('font-size', '4vw');
						search_error.text('キーワードが見つかりません。').show();
					}
				}
			});
		} else {
			$('#search_error').text('').hide();
		}
	}

	function set_answer(big_cate_id, cate_id, thread_id){
		document.answer.bid.value = big_cate_id;
		document.answer.subid.value = cate_id;
		document.answer.answer_id.value = thread_id;
		document.answer.submit();
		return false;
	}
</script> 
</body>
</html>
