{% extends './inc/doctype.html' %}

{% block title %}お問い合わせ{% endblock %}

{% block body %}
    <div class="container">
{% if user_login_flag %}
	{{ include('./inc/header_after_logging.html') }}
{% else %}
    {{ include('./inc/header.html') }}
{% endif %}
        <div class="content_wrap">
            <h2><span>お問い合わせ</span></h2>
        </div>
{% if user_login_flag %}
	{{ include('./inc/footer_area_after_logging.html') }}
{% else %}
	{{ include('./inc/footer_area.html') }}
{% endif %}
{{ include('./inc/footer.html') }}
    </div>
{% endblock body %}