{% extends './inc/doctype.html' %}

{% block title %}会社概要{% endblock %}

{% block body %}
{% if user_login_flag %}
	{{ include('./inc/header_after_logging.html') }}
{% else %}
    {{ include('./inc/header.html') }}
{% endif %}
    {{ include('./inc/breadcrumb_list.html') }}
    <div class="container">
        <div class="content_wrap">
            <h2 class="company_profile_h"><span>会社概要</span></h2>
			<p class="company"><img src="{{ base_url }}pc/image/company.png" alt="会社概要"></p>
        </div>
    </div>
	{{ include('./inc/footer.html') }}
{% endblock body %}