{% extends './inc/doctype.html' %}

{% block title %}お問い合わせ{% endblock %}

{% block body %}
{% if user_login_flag %}
  {{ include('./inc/header_after_logging.html') }}
{% else %}
	{{ include('./inc/header.html') }}
{% endif %}
<div class="page_wrap page-contact">
	<div class="container">
		<h2 class="ttl_h">お問い合わせ</h2>
		<div class="content_box contact_box">
			<div class="contact">

			<form method="post" role="form" id="contactForm" class="autoConfirm" action="{{ base_url }}contact_sendmail/">

				<div class="form-group">
					<label class="control-label" for="name">お名前<em>{% if user_login_flag == false %}必須{% endif %}</em></label>
					<div class="input-group">
					{% if user_login_flag %}
						<input type="text" class="input_basic form-control" id="name" name="name" placeholder="お名前" value="{{ nickname }}" readonly="readonly" style="background-color:#FFF;border:none;" />
					{% else %}
						<input type="text" class="input_basic form-control" id="name" name="name" placeholder="お名前" value="{{ nickname }}" />
					{% endif %}
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="email">メールアドレス<em>{% if user_login_flag == false %}必須{% endif %}</em></label>
					<div class="input-group">
					{% if user_login_flag %}
					<input type="email" class="input_basic form-control" id="email" name="email" placeholder="メールアドレス" value="{{ email }}" readonly="readonly" style="background-color:#FFF;border: 0px solid #cccccc;" />
					{% else %}
					<input type="email" class="input_basic form-control" id="email" name="email" placeholder="メールアドレス" value="{{ email }}" />
					{% endif %}
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="subject">題名<em>必須</em></label>
					<div class="input-group">
						<input type="text" class="input_basic form-control" id="subject" name="subject" placeholder="題名" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="message">お問い合わせ内容<em>必須</em></label>
					<div class="input-group">
						<textarea rows="5" cols="30" class="input_basic textarea form-control" id="message" name="message" placeholder="お問い合わせ内容" ></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" id="confirmSubmit" class="orange_btn btn_x_small">入力内容を確認</button>
						<button type="submit" id="sendSubmit" class="orange_btn btn_x_small" style="display:none;">送信</button>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" id="backSubmit" class="orange_btn btn_x_small autoConfirmBack" style="display:none;">戻る</button>
					</div>
				</div>
			</form>

			</div>
		</div>
	</div>
</div>
{% if user_login_flag %}
  {{ include('./inc/footer_area_after_logging.html') }}
{% else %}
  {{ include('./inc/footer_area.html') }}
{% endif %}
{{ include('./inc/footer.html') }}
{% endblock body %}


{% block javascripts %}
<script src="{{ base_url }}sp/js/jquery.validate.min.js"></script>
{% if user_login_flag %}
<script src="{{ base_url }}sp/js/contactform.js"></script>
{% else %}
<script src="{{ base_url }}sp/js/contactform0.js"></script>
{% endif %}
{% endblock javascripts %}