@charset "utf-8";
/* CSS Document */

/*-------------------------------
	margin style CSS
-------------------------------*/
.m_5{  margin:5px !important;}
.m_10{margin:10px !important;}
.m_15{margin:15px !important;}
.m_20{margin:20px !important;}
.m_25{margin:25px !important;}
.m_30{margin:30px !important;}
.m_35{margin:35px !important;}
.m_40{margin:40px !important;}
.m_45{margin:45px !important;}
.m_50{margin:50px !important;}

.m_t_5{  margin-top:5px !important;}
.m_t_10{margin-top:10px !important;}
.m_t_15{margin-top:15px !important;}
.m_t_20{margin-top:20px !important;}
.m_t_25{margin-top:25px !important;}
.m_t_30{margin-top:30px !important;}
.m_t_35{margin-top:35px !important;}
.m_t_40{margin-top:40px !important;}
.m_t_45{margin-top:45px !important;}
.m_t_50{margin-top:50px !important;}

.m_r_5{  margin-right:5px !important;}
.m_r_10{margin-right:10px !important;}
.m_r_15{margin-right:15px !important;}
.m_r_20{margin-right:20px !important;}
.m_r_25{margin-right:25px !important;}
.m_r_30{margin-right:30px !important;}
.m_r_35{margin-right:35px !important;}
.m_r_40{margin-right:40px !important;}
.m_r_45{margin-right:45px !important;}
.m_r_50{margin-right:50px !important;}

.m_b_5{  margin-bottom:5px !important;}
.m_b_10{margin-bottom:10px !important;}
.m_b_15{margin-bottom:15px !important;}
.m_b_20{margin-bottom:20px !important;}
.m_b_25{margin-bottom:25px !important;}
.m_b_30{margin-bottom:30px !important;}
.m_b_35{margin-bottom:35px !important;}
.m_b_40{margin-bottom:40px !important;}
.m_b_45{margin-bottom:45px !important;}
.m_b_50{margin-bottom:50px !important;}

.m_l_5{  margin-left:5px !important;}
.m_l_10{margin-left:10px !important;}
.m_l_15{margin-left:15px !important;}
.m_l_20{margin-left:20px !important;}
.m_l_25{margin-left:25px !important;}
.m_l_30{margin-left:30px !important;}
.m_l_35{margin-left:35px !important;}
.m_l_40{margin-left:40px !important;}
.m_l_45{margin-left:45px !important;}
.m_l_50{margin-left:50px !important;}

.zero_m{         margin:0 !important;}
.zero_m_t{   margin-top:0 !important;}
.zero_m_r{ margin-right:0 !important;}
.zero_m_b{margin-bottom:0 !important;}
.zero_m_l{  margin-left:0 !important;}

/*-------------------------------
	padding style CSS
-------------------------------*/
.p_5{   padding:5px}
.p_10{padding:10px !important;}
.p_15{padding:15px !important;}
.p_20{padding:20px !important;}
.p_25{padding:25px !important;}
.p_30{padding:30px !important;}
.p_35{padding:35px !important;}
.p_40{padding:40px !important;}
.p_45{padding:45px !important;}
.p_50{padding:50px !important;}

.p_t_0{  padding-top:0px !important;}
.p_t_5{  padding-top:5px !important;}
.p_t_10{padding-top:10px !important;}
.p_t_15{padding-top:15px !important;}
.p_t_20{padding-top:20px !important;}
.p_t_25{padding-top:25px !important;}
.p_t_30{padding-top:30px !important;}
.p_t_35{padding-top:35px !important;}
.p_t_40{padding-top:40px !important;}
.p_t_45{padding-top:45px !important;}
.p_t_50{padding-top:50px !important;}

.p_r_5{  padding-right:5px !important;}
.p_r_10{padding-right:10px !important;}
.p_r_15{padding-right:15px !important;}
.p_r_20{padding-right:20px !important;}
.p_r_25{padding-right:25px !important;}
.p_r_30{padding-right:30px !important;}
.p_r_35{padding-right:35px !important;}
.p_r_40{padding-right:40px !important;}
.p_r_45{padding-right:45px !important;}
.p_r_50{padding-right:50px !important;}

.p_b_5{  padding-bottom:5px !important;}
.p_b_10{padding-bottom:10px !important;}
.p_b_15{padding-bottom:15px !important;}
.p_b_20{padding-bottom:20px !important;}
.p_b_25{padding-bottom:25px !important;}
.p_b_30{padding-bottom:30px !important;}
.p_b_35{padding-bottom:35px !important;}
.p_b_40{padding-bottom:40px !important;}
.p_b_45{padding-bottom:45px !important;}
.p_b_50{padding-bottom:50px !important;}

.p_l_5{  padding-left:5px !important;}
.p_l_10{padding-left:10px !important;}
.p_l_15{padding-left:15px !important;}
.p_l_20{padding-left:20px !important;}
.p_l_25{padding-left:25px !important;}
.p_l_30{padding-left:30px !important;}
.p_l_35{padding-left:35px !important;}
.p_l_40{padding-left:40px !important;}
.p_l_45{padding-left:45px !important;}
.p_l_50{padding-left:50px !important;}

.zero_p{         padding:0 !important;}
.zero_p_t{   padding-top:0 !important;}
.zero_p_r{ padding-right:0 !important;}
.zero_p_b{padding-bottom:0 !important;}
.zero_p_l{  padding-left:0 !important;}

/*-------------------------------
	font-size style CSS
-------------------------------*/
.f_s_8{  font-size:8px !important;}
.f_s_10{font-size:10px !important;}
.f_s_12{font-size:12px !important;}
.f_s_14{font-size:14px !important;}
.f_s_16{font-size:16px !important;}
.f_s_18{font-size:18px !important;}
.f_s_20{font-size:20px !important;}
.f_s_22{font-size:22px !important;}
.f_s_24{font-size:24px !important;}
.f_s_26{font-size:26px !important;}
.f_s_28{font-size:28px !important;}
.f_s_30{font-size:30px !important;}

/*-------------------------------
	font-color style CSS
-------------------------------*/
.c_red{  color:#F00 !important;}
.c_gray{ color:#ccc !important;}
.c_blue{ color:#00F !important;}
.c_green{color:#0F0 !important;}
.c_white{color:#FFF !important;}
.c_blask{color:#000 !important;}

/*-------------------------------
	text-align style CSS
-------------------------------*/
.t_center{text-align:center !important;}
.t_left{    text-align:left !important;}
.t_right{  text-align:right !important;}

/*-------------------------------
	vertical-align style CSS
-------------------------------*/
.v_auto{        vertical-align:auto !important;}
.v_top{     vertical-align:text-top !important;}
.v_middle{    vertical-align:middle !important;}
.v_bottom{    vertical-align:bottom !important;}
.v_baseline{vertical-align:baseline !important;}

/*-------------------------------
	font-weight style CSS
-------------------------------*/
.f_w_n{ font-weight:normal !important;}
.f_w_l{font-weight:lighter !important;}
.f_w_b{   font-weight:bold !important;}
.f_w_i{font-weight:inherit !important;}

/*-------------------------------
	float style CSS
-------------------------------*/
.float_w{over-flow:hidden !important;}
.float_l{      float:left !important;}
.float_r{     float:right !important;}

/*--------------------------------
	border style CSS
--------------------------------*/
.b_1{border:solid 1px #000 !important;}

/*--------------------------------
	clearfix style CSS
--------------------------------*/
.cf:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
.cf {
min-height: 1px;
}
* html .cf {
height: 1px;
/*¥*//*/
height: auto;
overflow: hidden;
/**/
}




/*--------------------------------
	original style CSS
--------------------------------*/










