.icon:before, .icon16:before {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	font-family: FontAwesome;
	margin: 0 5px 0 0;

	content:"";
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
}
.icon:before{
	width:40px;
	height:40px;
}
.icon16:before{
	width:16px;
	height:16px;
}
/* icon 40x40 */
.icon.ic_sex:before{
	background:url(../image/icon/icon_category.png) 0 -440px;
	background-size: 100%;
}
.icon.ic_body:before{
	background:url(../image/icon/icon_category.png) 0 -40px;
	background-size: 100%;
}
.icon.ic_calendar:before{
	background:url(../image/icon/icon_category.png) 0 -160px;
	background-size: 100%;
}
.icon.ic_hands:before{
	background:url(../image/icon/icon_category.png) 0 -320px;
	background-size: 100%;
}
.icon.ic_bust-up:before{
	background:url(../image/icon/icon_category.png) 0 -120px;
	background-size: 100%;
}
.icon.ic_baby:before{
	background:url(../image/icon/icon_category.png) 0 0;
	background-size: 100%;
}
.icon.ic_woman:before{
	background:url(../image/icon/icon_category.png) 0 -520px;
	background-size: 100%;
}
.icon.ic_goods:before{
	background:url(../image/icon/icon_category.png) 0 -280px;
	background-size: 100%;
}
.icon.ic_man:before{
	background:url(../image/icon/icon_category.png) 0 -360px;
	background-size: 100%;
}
.icon.ic_condom:before{
	background:url(../image/icon/icon_category.png) 0 -240px;
	background-size: 100%;
}
.icon.ic_singlemother:before{
	background:url(../image/icon/icon_category.png) 0 -480px;
	background-size: 100%;
}
.icon.ic_question:before{
	background:url(../image/icon/icon_category.png) 0 -400px;
	background-size: 100%;
}
.icon.ic_bondage:before{
	background:url(../image/icon/icon_category.png) 0 -80px;
	background-size: 100%;
}
.icon.ic_chat-lady:before{
	background:url(../image/icon/icon_category.png) 0 -200px;
	background-size: 100%;
}
/**/
.icon16.ic_sex:before{
	background:url(../image/icon/icon_category.png) 0 -176px;
	background-size: 100%;
}
.icon16.ic_body:before{
	background:url(../image/icon/icon_category.png) 0 -16px;
	background-size: 100%;
}
.icon16.ic_calendar:before{
	background:url(../image/icon/icon_category.png) 0 -64px;
	background-size: 100%;
}
.icon16.ic_hands:before{
	background:url(../image/icon/icon_category.png) 0 -128px;
	background-size: 100%;
}
.icon16.ic_bust-up:before{
	background:url(../image/icon/icon_category.png) 0 -48px;
	background-size: 100%;
}
.icon16.ic_baby:before{
	background:url(../image/icon/icon_category.png) 0 0;
	background-size: 100%;
}
.icon16.ic_woman:before{
	background:url(../image/icon/icon_category.png) 0 -208px;
	background-size: 100%;
}
.icon16.ic_goods:before{
	background:url(../image/icon/icon_category.png) 0 -112px;
	background-size: 100%;
}
.icon16.ic_man:before{
	background:url(../image/icon/icon_category.png) 0 -144px;
	background-size: 100%;
}
.icon16.ic_condom:before{
	background:url(../image/icon/icon_category.png) 0 -96px;
	background-size: 100%;
}
.icon16.ic_singlemother:before{
	background:url(../image/icon/icon_category.png) 0 -192px;
	background-size: 100%;
}
.icon16.ic_question:before{
	background:url(../image/icon/icon_category.png) 0 -160px;
	background-size: 100%;
}
.icon16.ic_bondage:before{
	background:url(../image/icon/icon_category.png) 0 -32px;
	background-size: 100%;
}
.icon16.ic_chat-lady:before{
	background:url(../image/icon/icon_category.png) 0 -80px;
	background-size: 100%;
}

/**/

/*.page_wrap.page_index .sec_category .category_box .sec_box_ttl.icon:before{
	width:40px;
	height:40px;
}
.page_wrap.page_index .sec_consultation_list .consultation_list .sec_box_top .sec_box_category.icon:before {
	width: 16px;
	height: 16px;
}*/