<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ titles['contact_completion']['text'] }}</title>
{{ include('./inc/link.html') }}
</head>
<body>
<div class="page_wrap page_contact_comp">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content_inner">
			<section class="sec sec_contact_comp">
				<h2 class="sec_ttl">{{ titles['contact_completion']['text'] }}</h2>
					<p class="sec_desc">お問い合わせが完了しました。</p>
					<div class="sec_notice">
						<dl>
							<dt>営業日：</dt>
							<dd>平日（土日祝日を除く）</dd>
						</dl>
						<dl class="m_b_20">
							<dt>営業時間：</dt>
							<dd>12:00～18:00</dd>
						</dl>
						<h3 class="content_ttl">※登録メールが届かない場合</h3>
						<p class="m_b_10">セキュリティ設定のためユーザー受信拒否と認識されているか、お客様が迷惑メール対策等で、ドメイン指定受信を設定されている場合に、メールが正しく届かないことがございます。<br>
							以下のドメインを受信できるように設定してください。</p>
						<p class="domain">
							<input type="text" value="@joyspe.jp" onclick="this.select(0,this.value.length)">
						</p>
					</div>
					<ul class="btn_wrap">
						<li><a class="btn_style btn_green" href="{{ base_url }}">TOPへ戻る</a></li>
					</ul>
			</section>
		</div>
	</div>
	{{ include('./inc/footer.html') }}
</div>
</body>
</html>
