{% extends './inc/doctype.html' %}

{% block title %}{{ site_name }}-ログイン{% endblock %}

{% block body %}
<style type="text/css">
p.error_message{
color: #F00;
}
</style>
<div class="page_wrap page-login_user.html">
    {{ include('./inc/header.html') }}
    {{ include('./inc/breadcrumb_list.html') }}
	<div class="conteiner">
		<section class="content_box login_user">
			<div class="content_box_background small p_t_25">
				<h2 class="lawyer_login_h">ログインはコチラから</h2>

				<form id="login_form" class="" method="post" action="">

					<div class="login_input_area">

						<label for="mail"> <span class="login_form">メールアドレス</span>
							<label id="email_err" class="error_col">{{ validation_error|raw }}</label>
			                {{ form_input('email',set_value('email'),{id:"user_mail"})|raw }}
						</label>

						<label for="password"><span class="login_form">パスワード</span>
							<label id="password_err" class="error_col"></label>
			                {{ form_password('password',null,{id:"user_password"})|raw }}
						</label>

					</div>
					{#<label class="auto_login">
						{{ form_checkbox('login_flag', 1, set_checkbox('login_flag', 1))|raw }}
						次回から自動ログイン
					</label>#}

					<div class="btn_area_center">
						<button type="submit" class="blue_btn btn_middle">ログイン</button>
					</div>

				</form>

					<div class="btn_area_center">
						<a href="{{ base_url }}user/signup/" class="white_blue_btn btn_middle">新規会員登録</a>
						<div>
						<a class="forgot_password" href="{{ base_url }}user/remind/"> パスワードをお忘れの方<i class="fa fa-angle-double-right login_forgot"></i></a>
						</div>
					</div>
			</div>
		</section>
	</div>
    {{ include('./inc/footer.html') }}
</div>
{% endblock body%}

{% block javascripts %}
<script src="{{base_url}}pc/js/jquery.validate.min.js" type="text/javascript"></script>
<script>
$(function(){
	$("#login_form").validate({
		rules: {
			email: {
				required: true
             },
			password :{
				required: true
			}
		},
		messages: {
			email: {
                required: "メールアドレスを入力してください"
             },
			password:{
				required: "パスワードを入力してください"
			}
		},
		errorPlacement:function(error,element){
			// (入力フィールドの)name+’_err’のidをもつlabelに出力
			//error.insertAfter($('#'+ element.attr('name') + '_err'));
			error.appendTo($('#'+ element.attr('name') + '_err'));
		},
		errorClass:'error_message',
		errorElement:'p',
		submitHandler: function(form) {
			var param = form.serializeArray();
			$.ajax({
				url:'{{ base_url }}user/login_validation_ajax',
				type:'post',
				dataType:'json',
				data:param
			})
			.done(function(res){
				alert('???');
				if(res.retult){
//					$('#tabtext_1_list').append(res.html);
						alert('ユーザー名かパスワードが異なります。');
				}else{
					console.log('取得できできませんでした~~~');
				}
			});
			var temp = $("textarea[name='send_response']").val();
			// do other stuff for a valid form
/*
			$('#response_goto').on('click', function(){
				form.submit();
			});*/
		}
	});
})
</script>
{% endblock javascripts %}