<li style="display: inline-block;"><p>注目の相談：</p></li>
{% for key, entry in consultation_list_ar %}
<li style="display: inline-block;"><a href="{{ base_url }}cate{{ entry.big_cate_id }}/{{ entry.cate_id }}" class="t_link">{{ entry.category_name }}</a></li>
{% endfor %}