<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>回答内容の確認</title>
{{ include('./inc/link.html') }}
</head>

<body>
<div class="page_wrap page_answer_conf">
	{{ include('./inc/header.html') }}
	<div class="content_wrap cf">
		<div class="content">
			<section class="sec sec_answer_conf">
				<div class="content_inner">
				<!--	<form action="./answer_comp.html" method="post" class="answer_conf_form">  -->
						<h2 class="sec_ttl">相談内容の確認</h2>
						<div class="input_form">
							<dl class="input_nickname">
								<dt>ニックネーム</dt>
								<dd>
									<p>{{ data.nickname }}さん</p>
								</dd>
							</dl>
							<form id="answer" name="answer" method="post" action="">
							<script>
								var img_select_array = [];
							</script>	
							{% if data.userfile != '' %}
							<dl>
								<dt>画像</dt>
								<dd>
									<p><img src="/uploads/temp/{{ data.userfile }}"></p>
								</dd>
							</dl>
							{% endif %}
							<dl class="input_content">
								<dt>回答内容</dt>
								<dd>
									<p>{{ data.message_next|raw }}</p>
								</dd>
							</dl>
							{{ form_hidden|raw }}
							</form>
							<ul class="btn_wrap">
								<li>
									<!-- <a href="#" onclick="javascript:window.history.back(-1);return false;" class="btn_style btn_gray">入力画面へ戻る</a>  -->
									<a href="#" id="back" class="btn_style btn_gray-o">戻る</a>
								</li>
								<li>
									<button id="goto" type="submit" class="btn_style btn_green">回答する</button>
								</li>
							</ul>
						</div>
				<!--	</form>  -->
				</div>
			</section>
		</div>
		{{ include('./inc/sidebar.html') }}
	</div>
	{{ include('./inc/footer.html') }}
</div>
{{ include('./inc/script.html') }}
<script>
$(function(){
	var click = true;
    $('#back').click(function() {
        $('#answer').attr('action', '{{base_url}}bb/answer');
        $('#answer').submit();
    });
    $('#goto').click(function(e) {
        $('#answer').attr('action', '{{base_url}}bb/answer_completion');
        if (click) {
        	$('#answer').submit();
        	click = false;
        }
        e.preventDefault();
    });
});
</script>
</body>
</html>