<div class="page_wrap page-consultation_content">
	<div class="conteiner">
		<div class="l_calaum_user_consultation_and_everyone_answer">
			<section class="content_box user_consultation">
				<div class="user_consultation_wrap">
					<h2 class="user_consultation_h">{{ consultation_info.title }}</h2>

					<ul>
					<li>タイトル：{{ consultation_info.title }}</li>
					<li>内容：{{ consultation_info.message|raw }}</li>
					<li>日付：{{ consultation_info.create_date|date("Y年m月d日H時i分") }}</li>
					<li>相談者：{{ consultation_info.nick_name }}</li>
					<li>大カテゴリ：{{ consultation_info.big_category_name }}</li>
					<li>小カテゴリ：{{ consultation_info.category_name }}</li>
					</ul>




					<div class="user_consultation_sentence">
						<div class="user_link">
							<ul class="introduction">
								{% if user_info.sex == 1 %}
								<li><img class="human_icon" src="{{ base_url }}pc/image/man.png" alt="一般ユーザー"></li>
								{% else %}
								<li><img class="human_icon" src="{{ base_url }}pc/image/woman.png" alt="一般ユーザー"></li>
								{% endif %}
								<li>
									<table class="user_data">
										<tbody>
											<tr>
												<td><span>相談者</span>{{ user_info.nickname }}</td>
											</tr>
											<tr>
												<td><span>カテゴリ</span>{{ consultation_info.big_category_name }}/{{ consultation_info.category_name }}</td>
											</tr>
										</tbody>
									</table>
								</li>
							</ul>
						</div>
						<p>{{ consultation_info.message|raw }}</p>
						<div class="date">{{ consultation_info.create_date|date("Y年m月d日H時i分") }}</div>
					</div>
				</div>
			</section>
			<div class="content_box everyone_answer">
				<div class="everyone_answer_wrap">
					<h2 class="everyone_answer_consultation_h">みんなの回答</h2>
	                {% for entry in response_data %}

                    {% if entry.user_type == 1 %}
					<section class="content_box user_consultation">
						<div class="user_consultation_wrap">
							<div class="user_consultation_sentence">
								<div class="user_link"><a href="#">
									<ul class="introduction">
					                    {% if entry.sex == 1 %}
										<li><img class="human_icon" src="{{ base_url }}pc/image/man.png" alt="相談者"></li>
					                    {% else %}
										<li><img class="human_icon" src="{{ base_url }}pc/image/woman.png" alt="相談者"></li>
					                    {% endif %}
										<li>
											<table class="user_data">
												<tbody>
													<tr>
														<td><span>相談者</span>{{ entry.nickname }}さん</td>
													</tr>
													<tr>
														<td><span>カテゴリ</span>{{ user_question_data.cate_parent_name }}/{{ user_question_data.cate_name }}</td>
													</tr>
												</tbody>
											</table>
										</li>
									</ul>
									</a></div>
								<p>{{ entry.message|raw }}</p>
								<div class="date">{{ entry.create_date|date("Y年m月d日H時i分") }}</div>
							</div>
						</div>
					</section>
                    {% else %}
					<section class="content_box lawyer_answer">
						<div class="everyone_answer_sentence">
							<div class="lawyer_link">
								{% if entry.anon_flag == 0 %}
								<a href="{{ base_url }}search/profile/{{ entry.user_id }}/">
			                    {% endif %}
								<ul class="introduction">
			                    {% if entry.anon_flag == 1 %}
									<li><img class="lawyer_photo" src="{{ base_url }}pc/image/user.png" alt="弁護士"></li>
			                    {% else %}
				                    {% if entry.photo == '' %}
									<li><img class="lawyer_photo" src="{{ base_url }}pc/image/user.png" alt="弁護士"></li>
				                    {% else %}
									<li><img class="lawyer_photo" src="{{ base_url }}uploads/{{ entry.user_id }}/{{ entry.photo }}" alt="弁護士"></li>
				                    {% endif %}
			                    {% endif %}
									<li>
										<table class="lawyer_data">
											<tbody>
						                    {% if entry.anon_flag == 1 %}
												<tr>
													<td><span>弁護士名</span>匿名弁護士</td>
												</tr>
						                    {% else %}
												<tr>
													<td><span>弁護士名</span>{{ entry.name }}</td>
												</tr>
												<tr>
													<td><span>都道府県</span>{{ entry.city_name }}{{ entry.city_district }}</td>
												</tr>
												<tr>
													<td><span>事務所名</span>{{ entry.office }}</td>
												</tr>
						                    {% endif %}
											</tbody>
										</table>
									</li>
								</ul>
								{% if entry.anon_flag == 0 %}
								</a>
			                    {% endif %}
							</div>
							<p>{{ entry.message|raw }}</p>
							<div class="date">{{ entry.create_date|date("Y年m月d日H時i分") }}</div>
						</div>
					</section>
                    {% endif %}

	                {% endfor %}
				</div>
			</div>
		</div>
		<section class="content_box consultation_btn_area">
			<div class="r_calaum">
				<div> <a class="lawyer_btn new" href="{{ base_url }}bar/">新着相談一覧を見る</a> </div>
{#				<div> <a class="lawyer_btn cat" href="#">カテゴリ別の新着相談を見る</a></div>#}
				<div class="book_mark">
					<a class="bookmark_message"><i class="fa fa-bookmark"></i>この相談ページをブックマーク</a>
					<a id="bookmark_modal" rel="leanModal" href="#modal" style="display:none;">ブックマーク</a>
{#					<a id="bookmark_modal" rel="leanModal" href="#modal"><i class="fa fa-bookmark"></i>この相談ページをブックマーク</a>#}
				</div>
				<!--Provisiona_banner_area-->
{#
				<div class="banner_area">
					<p><a href="#"><img class="advertising_banner" src="./image/banner/01.png" alt="ジョイスペ広告"></a></p>
				</div>
#}
				<!--/Provisiona_banner_area--> 
			</div>
			<div id="modal">
				<div>
					<p class="template_box_ttl unsolved">この相談ページをブックマークしました</p>
					<div class="btn_area_center">
						<button class="cancel_btn">閉じる</button>
					</div>
				</div>
			</div>
		</section>
		<section class="content_box lawyer_answer">
			<div class="response_area">
				<div class="btn_area_center">
					<button class="orange_btn btn_large"> この相談に回答する </button>
				</div>
				<div class="answer_area">
					<form id="resuponse" method="post" action="{{ base_url }}bb/insert_response">
						<input type="hidden" name="thread_id" value="{{ consultation_info.id }}">
						<div class="answer_box">
							<h1 class="template_box_h">回答の入力</h1>
							<div class="content_box">
								<dl class="consultation_box">
									<dt class="user_name_ttl">回答者のお名前</dt>
									<dd class="user_name">匿名</dd>

									<dt class="consultation_ttl">回答本文</dt>
									<dd class="consultation_box">
										<label id="send_response_err"></label>

										<label class="text_area_label" for="consultation_inner">
{{ form_textarea('send_response',set_value('send_response'),{id:"consultation_inner",class:"validate[required]",cols:"30",rows:"10",placeholder:"回答本文入力してください"})|raw }}
										</label>
									</dd>
									<div class="position_center m_t_30">
										<button type="submit" class="confirm orange_btn btn_large">回答する</button>
										<button id="response_back" style="display: none;" type="button" class="send_response autoconfirmback btn_large non_shadow">戻る</button>
										<button id="response_goto" style="display: none;" type="button" class="send_response orange_btn btn_large">送信する</button>
									</div>

								</dl>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	{{ include('./inc/footer.html') }}
</div>
<script src="{{base_url}}pc/js/jquery.validate.min.js" type="text/javascript"></script>
<script>
$(function(){
	$("#resuponse").validate({
		rules: {
			send_response :{
				required: true
			}
		},
		messages: {
			send_response:{
				required: "回答内容を入力してください"
			}
		},
		errorPlacement:function(error,element){
console.dir(error);
			// (入力フィールドの)name+’_err’のidをもつlabelに出力
			//error.insertAfter($('#'+ element.attr('name') + '_err'));
			error.appendTo($('#'+ element.attr('name') + '_err'));
		},
		submitHandler: function(form) {
			var temp = $("textarea[name='send_response']").val();
			$("<span class='confirm_text'>"+temp+"</span>").insertAfter("textarea[name='send_response']");
			$("textarea[name='send_response']").hide();
			$(".confirm").hide();
			$(".send_response").show();
			// do other stuff for a valid form
			$('#response_goto').on('click', function(){
				form.submit();
			});
		}
	});

	$('#response_back').on('click', function(){
		var temp = $("textarea[name='send_response']").val();
		var validator = $("#resuponse").validate();
		validator.resetForm();
		$("textarea[name='send_response']").show();
		$("textarea[name='send_response']").val(temp);
		$(".confirm").show();
		$(".send_response").hide();
		$(".confirm_text").remove();
	});

})

$(function() {
    $(".answer_area").css("display","none");
    $(".btn_area_center").click(function(){
        $(this).toggleClass("open").next().slideToggle("nomal");
    });
});
</script> 
<script type="text/javascript">
$(function() {
    $( 'a[rel*=leanModal]').leanModal({
        top: 50,
        overlay : 0.5,
        closeButton: ".cancel_btn"
    });
});

$('.bookmark_message').on('click', function(){
	var faq_id = {{ user_question_data.id }};
	$.ajax({
		url:'{{ base_url }}bb/book_mark_ajax2',
		type:'post',
		dataType:'json',
		data:{mark:faq_id},
	})
	.done(function(res){
	    $('#bookmark_modal').trigger("click");
	});
});
</script> 
<script>
	$(":checked").parent().css("background","#ffffff");
	$("input").click(function(e) {
		var t = e.target.type;
		var chk = $(this).prop('checked');
		var name = $(this).attr('name');
		if(t == 'checkbox') {
			if(chk == true){
				$(this).parent().css('background', '#ffcccc');
			} else {
				$(this).parent().css('background-color', '#cccccc');
			} 
			return true;
		}
	});
</script>