{% for key, entry in response_ar %}
<div class="content_inner">
	<p class="user_name">{{ entry.nick_name }}さん</p>
	<div class="consult_answer_list">
		<div class="comment">
			{% if entry.up_image != null %}
			<p><img src="{{ entry.up_image }}"></p>
			{% endif %}
			{% if colorSwitch == 1 %}
				{% if entry.rank > 80 %}
				<p class="onayami_tally_count_1">{{ entry.message|raw|nl2br }}</p>
				{% elseif entry.rank > 50 %}
				<p class="onayami_tally_count_2">{{ entry.message|raw|nl2br }}</p>
				{% elseif entry.rank > 5 %}
				<p class="onayami_tally_count_3">{{ entry.message|raw|nl2br }}</p>
				{% else %}
				<p class="onayami_tally_count_4">{{ entry.message|raw|nl2br }}</p>
				{% endif %}
			{% else %}
			<p>{{ entry.message|raw|nl2br }}</p>
			{% endif %}
		</div>
		<div class="content_bottom cf">
			<p class="post_date">{{ entry.time_ago }}</p>

			<ul class="btn_wrap">
				<li><a href="javascript:void(0);" class="btn_style {{ entry.btn_orange_color }} btn_update_eval" data-mess-id="{{entry.id}}" data-user-id="{{entry.user_id}}">私もそう思う<span class="ic ic_heart">{{ entry.evaluate }}</span></a></li>
			</ul>
		</div>
	</div>

<!--					{% for key2, entry2 in entry.reply_ar %} -->
	{% if entry.reply_ar[0].flag %}
	<ul class="destination">
		<li>{{ entry.replay_nick_name }}</li>
		<li>{{ entry.nick_name }}</li>
	</ul>

		<div class="comment_reply">
		<div class="comment">
			<p>
			{{ entry.reply_message|raw|nl2br }}
			</p>
		</div>
		<div class="content_bottom cf">
			<p class="post_date">{{ entry.replay_cre_date }}</p>

			<ul class="btn_wrap">
				<li><a href="javascript:void(0);" class="btn_style {{ entry.replay_orange_color }} btn_update_eval" data-mess-id="{{entry.reply_message_id}}" data-user-id="{{entry.replay_owner_id}}">私もそう思う<span class="ic ic_heart">{{ entry.replay_evaluate }}</span></a></li>
			</ul>
		</div>
	</div>
	{% else %}
		{% if is_own_replay != entry.response_id and consultation_info.user_id == is_own_replay %}
		<div class="comment_reply_input comment_reply{{ entry.id }}">
			<form method="post" action="" class="validate_reply{{ entry.id }}">
			<input type="hidden" name="message_id" value="{{ entry.id }}">
			<input type="hidden" name="thread_id" value="{{ entry.thread_id }}">
			<input type="hidden" name="replay_nick_name" value="{{ consultation_info.nick_name }}">
			<input type="hidden" name="nick_name" value="{{ entry.nick_name }}">
			<h3 class="content_ttl">返信コメント</h3>
			<p class="error" style="display:none;">・本文を入力してください。</p>
			<textarea class="consult_message" name="consult_message" placeholder="返信コメントを入力してください"></textarea>
			<ul class="btn_wrap">
				<li>
					<button class="btn_style btn_blue">送信する</button>
				</li>
			</ul>
			</form>
		</div>						
		{% endif %}
	<script>
	$(function() {
		$(".validate_reply{{ entry.id }}").validate({
			rules: {
				consult_message:{
					required: true
				}
			},
			messages: {
				consult_message:{
					required: "返信コメントを入力してください。"
				}
			},
			errorElement: "p",
			errorPlacement:function(error,element){
				error.css('color','#fff');
				error.css('padding','10px');				
				error.css('background','#ef4f5a');				
				error.css('border-radius','4px');				
				error.css('margin','0 0 10px');
				error.insertBefore($(element));
			},
			submitHandler: function(form) {
				var $form = $('.validate_reply{{ entry.id }}');
				$.ajax({
				    url:"{{ base_url }}bb/reply_answer",
			        type:"POST",
			        data:$form.serialize(),
				}).done(function(data){
					$('.comment_reply{{ entry.id }}').replaceWith(data.html);
				}).fail(function(data){
				    alert('error!!!');
				});
			}
		});
	});
	</script>
	{% endif %}

<!--					{% endfor %}  -->

</div>
{% endfor %}