{% extends './inc/doctype.html' %}

{% block title %}{{ site_name }}-相談フォーム{% endblock %}

{% block body %}
<style type="text/css">

label.error{
color: #F00;
}
</style>
<div class="page_wrap page-consultation">
    {{ include('./inc/header_after_logging.html') }}
    {{ include('./inc/breadcrumb_list.html') }}
	<div class="conteiner">
		<section class="content_box consultation">
			<div class="consultation_wrap">
				<h1 class="template_box_h">相談内容の入力</h1>
				<div class="box_inner_size">
					<form id="consultation" name="consultation" method="post" action="{{ base_url }}bb/confirm">
					<input type="hidden" name="nickname" value="{{ set_value('nickname') }}">
						<dl class="consultation_box">
							<dt class="user_name_ttl">ニックネーム</dt>
							<dd class="user_name">{{ set_value('nickname') }}さん</dd>
						</dl>
						<dl>
							<dt class="customer_ttl"><span class="chose">相談するカテゴリを選択</span></dt>
							<p id="big_category_err" class="error_col"></p>
							{{ error_cate_parent|raw }}
							<dd>
		                    {{ form_dropdown('big_category', form_cate_opt,set_value('big_category'),{id:"changeselect",class:"select_large",style:"margin-top:1px;"})|raw }}
							</dd>
						</dl>

						<!-- change -->
						<dl class="consultation_box">

							<dl id="checkbox_1">
								<dt class="customer_detail">相談するカテゴリの詳細</dt>
								<label id="category_err" class="error_col"></label>
								{{ error_category|raw }}
								{% for key, entry in form_category_radio_ar %}
								<dd id="category_radio_{{ key }}" class="field_detail">
									{% for entry2 in entry %}
									<label class="field_check">
										<input type="radio" class="consultation" id="" name="category" value="{{ entry2.id }}">
										{{ entry2.name }}</label>
									{% endfor %}
								</dd>
								{% endfor %}
							</dl>

							<dl class="consultation_box">
								<dt class="consultation_ttl">タイトル</dt>
								<dd class="consultation_ttl_box">
									<label for="consultation_ttl_box_inner">
									{#	<input type="text" value="" class="" name="title" id="" placeholder="タイトルを入力してください（全角10文字～50文字）">#}
										<label id="user_question_title_err" class="error_col"></label>
					                    {{ error_question_title|raw }}
										{{form_input('user_question_title',set_value('user_question_title'),{id:"user_question_title",placeholder:"タイトルを入力してください（全角10文字～50文字）"})|raw}}
									</label>
									<span class="count_input">50</span> </dd>
							</dl>
							<dl class="consultation_box">
								<dt class="consultation_ttl">相談内容</dt>
								<dd class="consultation_box">
									<label for="consultation_inner">
									{#	<textarea class="" id="consultation_inner" name="message" placeholder="相談内容を入力してください（全角30文字～1000文字）"></textarea>#}
										<label id="user_question_err" class="error_col"></label>
					                    {{ error_question|raw }}
										{{form_textarea('user_question',set_value('user_question'),{id:"consultation_inner",placeholder:"相談内容を入力してください（全角30文字～1000文字）"})|raw}}
									</label>
									<span class="count_textarea">1000</span> </dd>
							</dl>

							<div class="btn_area_center m_t_30">
{#								<button class="dark_green_btn btn_large"></button> #}
<!--                    			<a href="javascript:void(0)" class="dark_green_btn btn_large">確認</a>  -->
								<button type="submit" name="aaa" class="dark_green_btn btn_large" value="aaa">確認</button>
{#								<a class="dark_green_btn btn_large" href="consultation_view.html">相談する</a> #}
							</div>
						</dl>
					</form>
				</div>
			</div>
		</section>
	</div>
	{{ include('./inc/footer.html') }}
</div>
{% endblock body %}

{% block javascripts %}
<!-- <script src="{{base_url}}sp/js/slidemenu.js"></script>  -->
<script src="{{base_url}}sp/js/jquery.count.min.js" type="text/javascript"></script>
<script src="{{base_url}}pc/js/jquery.validate.min.js" type="text/javascript"></script>
<script>
$('.field_detail').hide();
var pid = $('select[name=big_category]').val();
if(pid > 0){
    $('#category_radio_'+pid).show();
    $("input[name='category']").val([{{ set_value('category') }}]);
}
$('select[name=big_category]').change(function() {
    var pid = $(this).val();
    $('.field_detail').hide();
	if(pid > 0){
		console.log('pid='+pid);
	    $('#category_radio_'+pid).show();
	}
});
//$('input[name=lang]:checked').val() === 'ruby';
/*$('#consultation').on('submit', function(event) {
  event.preventDefault(); // 本来のPOSTを打ち消すおまじない
  var s = $(this).serializeArray();
console.dir(s);
});*/

$(function(){
	$("#consultation").validate({
		rules: {
			big_category: {
                min: 1,
             },
			category: {
				required: true
             },
			user_question_title :{
				required: true
			},
			user_question :{
				required: true
			}
		},
		messages: {
			big_category: {
                min: "big選択してください"
             },
			category: {
                required: "選択してください"
             },
			user_question_title :{
				required: "タイトルを入力してください"
			},
			user_question:{
				required: "相談内容を入力してください"
			}
		},
		errorPlacement:function(error,element){
console.dir(error);
			// (入力フィールドの)name+’_err’のidをもつlabelに出力
			//error.insertAfter($('#'+ element.attr('name') + '_err'));
			error.appendTo($('#'+ element.attr('name') + '_err'));
		}
	});
})
</script>
<script src="{{ base_url }}pc/js/jquery.count.min.js" type="text/javascript"></script>
{% endblock javascripts %}