<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>相談内容の確認</title>
{{ include('./inc/link.html') }}
</head>

<body>
<div class="page_wrap page_question_conf">
	{{ include('./inc/header.html') }}
<div class="content_wrap cf">
	<div class="content_inner">
	<section class="sec sec_question_conf">
<!--		<form action="./question_comp.html" method="post" class="question_conf_form validate">  -->
			<h2 class="sec_ttl">相談内容の確認</h2>
			<div class="input_form">
				<dl>
					<dt>ニックネーム</dt>
					<dd><p>{{ data.nickname }}さん</p></dd>
				</dl>
				<dl>
					<dt>相談するカテゴリ</dt>
					<dd><p>{{ set_value('big_category_name') }}</p></dd>
				</dl>
				<dl>
					<dt>相談するカテゴリの詳細</dt>
					<dd><p>{{ set_value('category_name') }}</p></dd>
				</dl>
				<dl>
					<dt>タイトル</dt>
					<dd><p>{{ data.question_subject }}</p></dd>
				</dl>
				<form id="consultation" name="consultation" method="post" action="/bb/post_completion">
				<script>
					var img_select_array = [];
				</script>	
				{% if data.userfile != '' %}
				<dl>
					<dt>画像</dt>
					<dd>
						<p><img src="/uploads/temp/{{ data.userfile }}"></p>
					</dd>
				</dl>	
				{% endif %}
				<dl>
					<dt>相談内容</dt>
					<dd><p>{{ data.message_next|raw }}</p></dd>
				</dl>
				{{ form_hidden|raw }}
				</form>				
				<ul class="btn_wrap">

					<li>
					<!--	<a href="#" onclick="javascript:window.history.back(-1);return false;" class="btn_style btn_gray">戻る</a>  -->
						<a href="#" id="back" class="btn_style btn_gray-o">戻る</a>
					</li>
					<li>
						<button type="submit" id="goto" class="btn_style btn_green">相談する</button>
					</li>
				</ul>
			</div>
<!--		</form>  -->
	</section>
	</div>
</div>

{{ include('./inc/footer.html') }}
</div>
<script>
$(function(){
	var click = true;
    $('#back').click(function() {
        $('#consultation').attr('action', '{{base_url}}bb/posting');
        $('#consultation').submit();
    });
    $('#goto').click(function(e) {
        $('#consultation').attr('action', '{{base_url}}bb/post_completion');
        if (click) {
        	$('#consultation').submit();
        	click = false;
        }
        e.prevenDefault();
    });
});
</script>
</body>
</html>